html
{
	font-style: Georgia;
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
	padding:0px;
}
body{
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
	padding:0px;
}
#baner
{
	background-color: #824555;
	color: white;
	text-align: center;
	padding: 20px;
}
#lista, #tabela
{
	background-color: #A26475;
	color: white;
	width: 30%;
	height: 300px;
	float: left;
}
#mapa
{
	background-color: #A26475;
	color: white;
	width: 40%;
	height: 300px;
	float: right;
	
}
#glowny
{
	background-color: #F0EAE2;
	padding: 50px;
	
}
#stopka
{
	background-color: #824555;
	color: white;
	text-align: center;
	padding: 20px;
}
th, table, td
{
	clear: both;
	border-width: 3px;
	border-bottom-color: #69293A;
	padding: 7px;
	border-collapse: collapse;
}
ul
{	
	clear: both;
	type: square;
}	
#red	
{
	background-color: red;
}	
#green	
{
	background-color: green;
}		
#blue
{
	background-color: blue;
} 


	
